Repository kamiazya/rediagram, pull requests merged in 2020-11, with the labels that each got.

#132 docs: add version badge to README #4
  component-libraries/aws/README.md
  component-libraries/gcp/README.md
  packages/cdk/README.md
  packages/cli/README.md
  packages/common/README.md
  packages/create-rediagram-project/README.md
  packages/rediagram/README.md
  packages/tsconfig/README.md
Labels: documentation

#150 fix(@rediagram/aws): 🐛 paths pointing to AmazonVPC icons
  component-libraries/aws/src/components/networking-content-delivery/AmazonVPC.tsx
Labels: bug, package:@rediagram/aws

#152 Multi cloud provider
  component-libraries/aws/src/components/groups/AWS.tsx
  component-libraries/gcp/src/components/groups/GCP.tsx
Labels: bug, enhancement, package:@rediagram/aws, package:@rediagram/gcp

#156 BRAKING CHANGE: Fix downstream direction
  examples/gallery/img/GitToS3WebHooks.rediagram.png
  examples/gallery/src/ChefAutomateArchitectureOnAWS.rediagram.tsx
  examples/gallery/src/GitToS3WebHooks.rediagram.tsx
  packages/cdk/src/components/Dependence.tsx
  packages/cdk/src/hooks/dependences.ts
Labels: bug, enhancement, package:@rediagram/aws, package:@rediagram/cdk, package:@rediagram/gcp

#161 Add GCP title bar
  component-libraries/gcp/src/components/util/TitleBar.tsx
  component-libraries/gcp/src/index.ts
  examples/gallery/img/ContentManagement.rediagram.png
  examples/gallery/img/HighPerformanceComputing.rediagram.png
  examples/gallery/src/ContentManagement.rediagram.tsx
  examples/gallery/src/HighPerformanceComputing.rediagram.tsx
Labels: enhancement, package:@rediagram/gcp

#165 Display message when graphviz is not installed
  packages/create-rediagram-project/package.json
  packages/create-rediagram-project/rollup.config.js
  packages/create-rediagram-project/src/command.ts
  yarn.lock
Labels: enhancement, package:create-rediagram-project

#171 Fix dependencies upstream api
  examples/gallery/src/ChefAutomateArchitectureOnAWS.rediagram.tsx
  packages/cdk/src/components/Dependence.tsx
  packages/cdk/src/hooks/dependences.ts
Labels: examples:gallery, package:@rediagram/cdk
